*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
body{
    margin-left: 50px;
    background-color: #464246;
    color: #fbfffe;
    font-size: 14px;
    font-family: sans-serif;
}
a{
    color: #fbfffe;
    text-decoration: none;
}
/* website color */
content{
    /* section color */
    color: #1b1b1e;
    /* body color */
    color: #464246;
    /* title color */
    color: #faa916;
    /* icons color */
    color: #EA2027;
    /* font color */
    color: #fbfffe;
    /* font sub color */
    color: #bcb9bd;
    /* font visited color */
    color: #6d676e;
}



.clearfix::after{
    content: "";
    display: block;
    clear: both;
}



/* carousel style */
.carousel{
    position: relative;
    overflow: hidden;
}
.carousel .arrow{
    width: 60px;
    height: 60px;
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.carousel .prev{
    left: 0;
    background: url(../images/icons/double-arrow-left.png) no-repeat center;
    background-size: 60px;
}
.carousel .next{
    right: 0;
    background: url(../images/icons/double-arrow-right.png) no-repeat center;
    background-size: 60px;
}
.carousel ul{
    list-style-type: none;
    position: relative; 
    left: 0;
    top: 0;
}
.carousel > ul > li{
    float: left;
}
.carousel > ul > li img{
    display: block;
    width: 100%;
}

/* 为页面设置最小宽度 */
body{
    min-width: 1000px;
}



/* main style */
#main{
    margin: 0 105px;
}
#main section.wrap{
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #1b1b1e;
}
#main section.wrap h2{
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fbfffe;
}