*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    margin-left: 50px;
    background-color: #6d676e;
    color: #fbfffe;
    font-size: 14px;
    font-family: sans-serif;
}
a{
    color: #fbfffe;
    text-decoration: none;
}
/* website color */
content{
    color: #1b1b1e;
    color: #6d676e;
    color: #faa916;
    color: #96031a;
    color: #fbfffe;
}



.clearfix::after{
    content: "";
    display: block;
    clear: both;
}



/* carousel style */
.carousel{
    position: relative;
}
.carousel > ul{
    position: absolute;
    left: 0;
    top: 0;
    width: 1000%;
}
.carousel > ul > li{
    list-style-type: none;
    float: left;
    width: 10%;
}
.carousel > ul > li a{
    display: inline-block;
}
.carousel > ul > li img{
    width: 100%;
}