*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #6d676e;
    font-family: sans-serif;
}
a{
    color: #fbfffe;
    text-decoration: none;
}


.clearfix::after{
    content: "";
    display: block;
    clear: both;
}