/* 公用样式引入 */
@import url("./base.css");
@import url("./public_nav.css");
@import url("./public_header.css");
@import url("./public_footer.css");



/* font-class 引用方式引用icon */
@import url("../font/more/iconfont.css");



#main .container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px 0;
}
#main .container .items{
    width: 70%;
    padding:20px;
    border-radius: 10px;
    background-color: #1b1b1e;
    background-color: var(--front-color, #1b1b1e);
}
#main .container .system{
    width: 25%;
    padding: 20px;
    border-radius: 10px;
    background-color: #1b1b1e;
    background-color: var(--front-color, #1b1b1e);
}



#main .container .items .item{
    border-bottom: 1px solid;
    border-bottom-color: #6d676e;
    border-bottom-color: var(--back-color, #6d676e);
}
#main .container .items .item h2{
    padding-bottom: 15px;
}


#main .container .system ul,
#main .container .system li{
    list-style-type: none;
}
#main .container .system h3 a{
    color: #faa916;
    color: var(--sub-title-color, #faa916);
}
#main .container .system .title{
    /* cursor: pointer; */
    padding: 5px 0 10px; 
}
#main .container .system h3:hover,
#main .container .system .title:hover a,
#main .container .system li:hover > a{
    color: #faa916;
    color: var(--hover-color, #faa916);
}
#main .container .system .icon-more{
    float: right;
}
#main .container .system .list{
    display: none;
    margin-bottom: 10px;
}
#main .container .system .sub-list{
    display: none;
}
#main .container .system .list > li{
    padding-left: 10px;
}
#main .container .system .sub-list > li{
    padding-left: 15px;
    margin-bottom: 5px;
}
#main .container .system .sub-list a{
    color: #464246;
    color: var(--back-color, #464246);
}



/* main system tags style */
#main .container .system .tags li{
    display: inline-block;
    height: 30px;
    padding: 0 10px;
    margin: 3px;
    border: 1px solid;
    border-color: #fbfffe;
    border-color: var(--text-color, #fbfffe);
    border-radius: 30px;
    line-height: 30px;
}
#main .container .system .tags li:hover{
    border-color: #faa916;
    border-color: var(--hover-color, #faa916);
}