/* nav menu style */
nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #1b1b1e;
}
nav .menu a{
    display: inline-block;
    margin: 20px 0;
    text-align: center;
    /* color: ##faa916; */
}
nav .menu a:hover{
    color: #faa916;
}
nav .menu i{
    display: inline-block;
    width: 50px;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
nav .menu .title{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 0;
    opacity: 0;
    transition: width 0.3s 0s, opacity 0s -0.1s;
}
nav .menu:hover .title{
    width: 100px;
    padding-left: 10px;
    opacity: 1;
    transition: width 0.3s 0s, opacity 0s 0.1s;   
}



/* header style */
header{
    padding: 25px 120px;
    margin: 0 1px;
    background-color: #1b1b1e;
    color: #faa916;  
}



/* main style */
#main{
    margin: 0 105px;
}
#main section.wrap{
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #1b1b1e;
}
#main section.wrap h2{
    margin-bottom: 20px;
    letter-spacing: 1px;
    color: #fbfffe;
}


/* footer copyright style */
footer{
    margin: 25px 0;
    text-align: center;
}
footer a{
    color: #faa916;  
    font-weight: bold;
}