/* main style */
#main section .more{
    display: inline-block;
    padding: 0 20px;
    color: #EA2027;
    color: var(--sub-title-color, #EA2027);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
}



/* main project style */
#main section.project{
    padding-bottom: 0;
}
#main .project .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    overflow: hidden;
}
#main .project .container figure{
    width: 32%;
}
@media screen and (max-width: 768px){
    #main .project .container figure{
        width: 49%;
    }
}
@media screen and (max-width: 400px){
    #main .project .container figure{
        width: 100%;
    }
}
#main .project .container figcaption{
    margin-bottom: 20px;
    color: #faa916;
    color: var(--text-color, #faa916);
    text-align: center;
}
#main .project .container figure > a{
    display: block;
    overflow: hidden;
}
#main .project .container figure img{
    width: 100%;
}



/* main blog style */
#main .blog .list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#main .blog .list > li{
    width: 30%;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/* main study style */
#main .study .items{
    list-style-type: none;
    margin: 10px;
}
#main .study .items > li{
    display: flex;
    flex-wrap: nowrap;
    padding: 5px;
    border-top: 1px solid;
    border-top-color: #6d676e;
    border-top-color: var(--back-color, #6d676e);
}
#main .study .title{
    width: 12%;
    min-width: 100px;
    padding: 10px 0;
    color: #faa916;
    color: var(--sub-title-color, #faa916);
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;    
}
#main .study .sub{
    width: 88%;
    display: none;
}
@media screen and (max-width: 768px){
    #main .study .items > li{
        display: flex;
        flex-wrap: wrap;
    }
    #main .study .title,
    #main .study .sub{
        width: 100%;
    }

}
#main .study .title span{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 10px;
    background: url(../images/icons/加号.png) center no-repeat;
    background-size: 14px 14px;
}
#main .study .title .jianhao{
    background: url(../images/icons/减号.png) center no-repeat;
    background-size: 14px 14px;
}
#main .study .sub li{
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main .study .sub a{
    color: #fbfffe;
    color: var(--text-color, #fbfffe);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main .study .sub a:visited{
    color: #6d676e;
    color: var(--visited-color, #6d676e);
}
#main .study .sub a:hover{
    color: #faa916;
    color: var(--hover-color, #faa916);
}