/* main style */
#main section .more{
    display: inline-block;
    padding: 0 20px;
    color: #EA2027;
    color: var(--sub-title-color, #EA2027);
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
}



/* main project style */
#main .project .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#main .project .container figure{
    display: flex;
    flex-flow: column;
    width: 50%;
    justify-content: space-around;
}
#main .project .container figcaption{
    padding: 5px;
    color: #faa916;
    color: var(--text-color, #faa916);
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
}
#main .project .container figure > a{
    display: block;
    height: 250px;
    overflow: hidden;
}
#main .project .container figure img{
    width: 90%;
}



/* main blog style */
#main .blog .list{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
#main .blog .list > li{
    width: 30%;
    padding: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}



/* main study style */
#main .study .items{
    list-style-type: none;
    margin: 10px;
}
#main .study .items > li{
    display: flex;
    padding: 5px;
    border-top: 1px solid;
    border-top-color: #6d676e;
    border-top-color: var(--back-color, #6d676e);
}
#main .study .title{
    width: 10%;
    min-width: 100px;
    display: inline-block;
    padding: 10px 0;
    color: #faa916;
    color: var(--text-color, #faa916);
    font-size: 16px;
    line-height: 16px;
    cursor: pointer;
}
#main .study .sub{
    width: 90%;
    display: none;
}
#main .study .title span{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin: 0 10px;
    background: url(../images/icons/加号.png) center no-repeat;
    background-size: 14px 14px;
}
#main .study .title .jianhao{
    background: url(../images/icons/减号.png) center no-repeat;
    background-size: 14px 14px;
}
#main .study .sub li{
    margin: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main .study .sub a{
    color: #fbfffe;
    color: var(--text-color, #fbfffe);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main .study .sub a:visited{
    color: #6d676e;
    color: var(--visited-color, #6d676e);
}
#main .study .sub a:hover{
    color: #faa916;
    color: var(--hover-color, #faa916);
}