/* main style */
#main section{
    overflow: hidden;
    position: relative;
}
#main section .expand{
    text-align: right;
}
#main section .expand span{
    display: inline-block;
    padding: 5px 3px;
    color: #faa916;
    color: var(--sub-title-color, #faa916);
    font-weight: bold;
    cursor: pointer;   
}
#main section .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
}
#main section .container figure{
    width: 40%;
    padding-bottom: 10px;
}
#main section .container .info{
    width: 55%;
}
@media screen and (max-width: 768px){
    #main section .container figure,
    #main section .container .info{
        width: 100%;
    }
}
#main section .container figcaption{
    text-align: center;
}
#main section .container figcaption a{
    color: #6d676e;
    color: var(--text-color, #6d676e);
}
#main section .container .link{
    display: inline-block;
}
#main section .container img{
    width: 100%;
}
#main section .container .info h3{
    color: #faa916;
    color: var(--sub-title-color, #faa916);
}
#main section .container .info .list{
    margin: 0 20px; 
}
#main section .container .info .list > li{
    margin: 10px 0;
}
