/* main style */
#main section{
    height: 300px;
    overflow: hidden;
    position: relative;
}
#main section .expand{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1b1b1e;
    cursor: pointer;
}
#main section .expand span{
    float: right;
    padding: 0 20px;
    padding-bottom: 10px;
}
#main section .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    margin-bottom: 20px;
}
#main section .container figure{
    width: 40%;
}
#main section .container figcaption{
    padding-top: 10px;
}
#main section .container figcaption a{
    color: #6d676e;
}
#main section .container .link{
    display: block;
}
#main section .container img{
    width: 100%;
}
#main section .container .info{
    width: 60%;
    padding-left: 20px;
}
#main section .container .info h3{
    color: #faa916;
    /* margin-bottom: 10px; */
}
#main section .container dt{
    padding: 15px 0 3px;
    font-size: 15px;
    font-weight: bold;
}
#main section .container dd{
    /* padding-left: 20px; */
    text-indent: 2em;
    /* font-size: 12px; */
    color: #bcb9bd;
}

