/* nav menu style */
#nav nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    border-right: 1px solid;
    border-right-color: #464246;
    border-right-color: var(--back-color, #464246);
    background-color: #1b1b1e;
    background-color: var(--front-color, #1b1b1e);
}
#nav nav .menu a{
    display: inline-block;
    margin: 20px 0;
    text-align: center;
}
#nav nav .menu i{
    display: inline-block;
    width: 60px;
    font-size: 26px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
#nav nav .menu .title{
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    width: 0;
    opacity: 0;
    transition: width 0.3s 0s, opacity 0s -0.1s;
}
#nav nav:hover .title{
    width: 80px;
    opacity: 1;
    transition: width 0.3s 0s, opacity 0s 0.1s;   
}



/* nav icon-font style*/
@font-face{
    font-family: "icon-home";
    src: url("../font/home/iconfont.eot");
    src: url("../font/home/iconfont.woff2") format('woff2'),
         url("../font/home/iconfont.woff") format('woff'),
         url("../font/home/iconfont.ttf") format('truetype'),
         url("../font/home/iconfont.svg") format('svg');
}
.icon-home{
    font-family: "icon-home" !important;
}


@font-face{
    font-family: "icon-project";
    src: url("../font/project/iconfont.eot");
    src: url("../font/project/iconfont.woff2") format('woff2'),
         url("../font/project/iconfont.woff") format('woff'),
         url("../font/project/iconfont.ttf") format('truetype'),
         url("../font/project/iconfont.svg") format('svg');
}
.icon-project{
    font-family: "icon-project" !important;
}


@font-face{
    font-family: "icon-blog";
    src: url("../font/blog/iconfont.eot");
    src: url("../font/blog/iconfont.woff2") format('woff2'),
         url("../font/blog/iconfont.woff") format('woff'),
         url("../font/blog/iconfont.ttf") format('truetype'),
         url("../font/blog/iconfont.svg") format('svg');
}
.icon-blog{
    font-family: "icon-blog" !important;
}


@font-face{
    font-family: "icon-study";
    src: url("../font/study/iconfont.eot");
    src: url("../font/study/iconfont.woff2") format('woff2'),
         url("../font/study/iconfont.woff") format('woff'),
         url("../font/study/iconfont.ttf") format('truetype'),
         url("../font/study/iconfont.svg") format('svg');
}
.icon-study{
    font-family: "icon-study" !important;
}