/* footer copyright style */
footer{
    margin: 25px 0;
    text-align: center;
}

@font-face{
    font-family: "icon-github";
    src: url("../font/github/iconfont.eot");
    src: url("../font/github/iconfont.woff2") format('woff2'),
         url("../font/github/iconfont.woff") format('woff'),
         url("../font/github/iconfont.ttf") format('truetype'),
         url("../font/github/iconfont.svg") format('svg');
}
footer .icon-github{
    font-family: "icon-github" !important;
    font-size: 32px;
}

footer a.github:hover{
    color: #faa916;
    color: var(--sub-title-color, #faa916); 
}

footer a.link{
    color: #faa916;
    color: var(--sub-title-color, #faa916); 
}