/* header style */
header{
    width: 100%;
    padding: 20px 0;
    background-color: #1b1b1e;
    background-color: var(--front-color, #1b1b1e);
    color: #faa916;
    color: var(--title-color, #faa916);
}
header h1{
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
@media screen and (max-width: 768px){
    header h1{
        width: 100%;
        margin-left: 65px;
    }
}