/* header style */
header{
    /* padding: 25px 0;  */
    /* padding-left: 160px; */
    padding: 25px 0;
    background-color: #1b1b1e;
    background-color: var(--front-color, #1b1b1e);
    color: #faa916;
    color: var(--title-color, #faa916);
}
header h1{
    margin-left: 150px;
}
@media screen and (min-width: 1400px){
    header h1{
        width: 80%;
        max-width: 1400px;
        margin: 0 auto;
    }
}