/* main book style */
#main section h2 .iconfont{
    font-size: inherit;
    font-weight: normal;
    padding: 0 10px;
}
#main .book .carousel .arrow{
    background-color: #6d676e;
    display: table;
    vertical-align: top;
    text-align: center;
    font-size: 30px;
    color: #fbfffe;
    opacity: 0.5;
}
#main .book .carousel:hover .arrow{
    opacity: 0.7;
}
#main .book .carousel .prev{
    /* left: 10px; */
    padding-left: 5px;
    border-radius: 20px 0 0 20px;
}
#main .book .carousel .next{
    /* right: 10px; */
    padding-right: 5px;
    border-radius: 0 20px 20px 0;
}
#main .book .items{
    width: 1000%;
    /* padding: 20px 0; */
}
#main .book .items > li{
    width: 2.5%;
    padding: 0 0.125%;
    position: relative;
    overflow: hidden;
}
#main .book .items .detail{
    position: absolute;
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    padding: 10px 5px;
    margin: 0 5%;
    background-color: #fbfffe;
    color: #6d676e;
    z-index: -1;
}
#main .book .items .detail .title{
    padding-bottom: 10px;
}
#main .book .items .detail .info{
    text-indent: 5px;
    line-height: 20px;
    
    /* list-style-type: square; */
}



/* main list style */
#main section .list{
    list-style-type: none;
    /* display: flex;
    flex-flow: row wrap;
    justify-content: space-between; */
    padding: 0 10px;
}
#main section .list li{
    /* width: 45%; */
    margin: 10px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#main section .list li a:visited{
    color: #6d676e;
}
#main section .list li a:hover{
    color: #faa916;
}
