/* common style sheet */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #ededed;
}
ul, ol, dl, dt, dd, li{
    list-style: none;
}
a{
    color: #333;
    font-size: 12px;
    text-decoration: none;
}
a:hover{
    color: red;
}
.clearfix::after{
    content: "";
    display: block;
    clear: both;
}



/* prev & next btn style */
.arrow{
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 26px;
    height: 36px;
    background-color: gray;
    opacity: 0.5;
    color: white;
    font-size: 18px;
    line-height: 36px;
    text-align: center;
    cursor: pointer;
}
.arrow:hover{
    opacity: 1;
    color: white;
}
.prev{
    left: 0;
    border-radius: 0 18px 18px 0;
}
.next{
    right: 0;
    border-radius: 18px 0 0 18px;
}


/* 轮播图切换按钮，结合JavaScript动态使用 */
.carousel-btns{
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
}
.carousel-btns li{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid transparent;
    border-radius: 50%;
    margin: 5px;
    background-color: orangered;
    background-clip: padding-box;
    opacity: 0.9;
    cursor: pointer;
}
.carousel-btns li.on{
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid orangered;
    border-radius: 50%;
    margin: 5px;
    background-color: white;
    background-clip: padding-box;
    cursor: pointer;
}