*{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    box-sizing: border-box;
}
html{
    --bg-color: hsl(0,100%, 30%);
    font-size: 9px;
}
body{
    /* overflow-y: scroll; */
    font-size: 1.6rem;
    line-height: 1.5;
}
ul, ol, li{
    list-style-type: none;
}
.clear::after{
    display: block;
    content: "";
    clear: both;
}