@media screen and (min-width: 1024px){
    html{
        font-size: 10px;
    }
}

@media screen and (min-width: 1440px){
    html{
        font-size: 12px;
    }
}

@media screen and (min-width: 1600px){
    html{
        font-size: 14px;
    }
}