@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574406337015'); /* IE9 */
  src: url('iconfont.eot?t=1574406337015#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKcAAsAAAAABkwAAAJRAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApIWgE2AiQDCAsGAAQgBYRtBz0bjQURBVTJ/gCZ3OocEKIZo85VDBZd18yL5COM4xuLeCBSqIIEAAAAAIggWkNn7y4EICOJHKAiUBEuQkW10tVolqyrf//nsuB6xkSYojwckQJWH/JbTl+ao+fn9JSakBNysAGn+YizhLDYDaDLrC/jmeWzzDK0H1KB4VVMfxMPA7Q04Jr6CfQgeUBz66So5EjAgU0H2oGjkW0kI98wdrVYHuJjAo1GLYvdq4dnr16BVgXitS6VV5+LKopRqBdqaw4W8VGN+vSe4vkgvx//FAFJTYZajl8urbf5Ey7JVrrihBhBOV6DjGUU4rw2eygLg8sas8Uk+2oMfqoq7hF7dQrjr0P1zWAYqu5JTTW3Wp9Aiaeb0T9qLqm29s26jfKLb9o8E/kaZDz5oXYCKvP52gsEL539ltX/9bMCPjcZriz081O/A1/wI9Q9h4qvRe5UXHWtP2ketTKhUSMq1GCnH2NtPWcthno95/bXGUmR1ZsmC7uMGk1WUKveBhotOTjeJO3CQlEasOgbILT7QdLqE7J2v2Rh/1Cj1z9qtUeIRpeRC5vMRh2VUQla0EeoDQ2OeCWKGh+x3HaKs1rJvyJPdQLyJCsWrnFAnmPLtCsLEQeOqYcr8Bx2HcHI1KCRpBIZ52nq6t6UGOq9yA6GFIEsoB2BmkEGjk8WUenzj1Bpq6NwS1tP8RVik3p2kEtkPchr09Cr7V5emeyUCkI4wGGkB67APNTpEDDWz2sgQySqEenRXIrHub6mZH1L/wGVRhfIngLfnHU90VZ3GCtm2seaRKj3PAA=') format('woff2'),
  url('iconfont.woff?t=1574406337015') format('woff'),
  url('iconfont.ttf?t=1574406337015') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574406337015#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-double-arrow-bottom:before {
  content: "\e631";
}

