<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>footer</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/font.css" />
</head>
<body>
    <footer>
        <p>Copyright © xiongerya 2019</p>
        <p>View on <a class="blank" href="https://github.com/xiongerya">Github</a></p>
    </footer>
</body>
</html>