<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>header</title>
    <link rel="stylesheet" href="../css/base.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/font.css" />
</head>
<body>
    <nav>
        <ul class="menu">
            <li><a href="./index.html">
                <i class="icon-home">&#xe6f5;</i><span class="title">Home</span>
            </a></li>
            <li><a href="./project.html">
                <i class="icon-project">&#xe63a;</i><span class="title">Project</span>
            </a></li>
            <li><a href="./blog.html">
                <i class="icon-blog">&#xe603;</i><span class="title">Blog</span>
            </a></li>
            <li><a href="./learn.html">
                <i class="icon-study">&#xe634;</i><span class="title">Learn</span>
            </a></li>
        </ul>
    </nav>
</body>
</html>