<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Music player</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="base.css" />
</head>
<body>

    <div class="wrap">
        
        <div id="header">
            <div class="logo">
                <h1>
                    <i class="fa fa-music"></i>&nbsp;&nbsp;<span>Music Player</span>
                </h1>
            </div>
            <form class="search">
                <input type="text" placeholder="输入曲名/歌手" v-model="keyword"/>
                <span class="fa fa-search" @click="getMusic"></span>
            </form>
        </div>

        <div id="main">
            <ul>
                <li class="list">
                    <ul>
                        <li v-for="item in songs">
                            <a class="song" @click="getDetail(item.id)"><i class="fa fa-play"></i>{{ item.name }}</a>
                            <i class="fa fa-youtube-play" aria-hidden="true" v-show="item.mvid" @click="getMv(item.id)"></i>
                        </li>
                    </ul>
                </li>
                <li class="picture">
                    <div class="wrap" v-bind:class="{animated: music}">
                        <img class="cover" v-bind:src="imgUrl" />
                        <img class="record" src="images/dsc1.png" alt="黑胶唱片"/>
                    </div>  
                </li>
                <li class="comment">
                    <h4>精选留言</h4>
                    <ul>
                        <li class="item" v-for="item in comments">
                            <img v-bind:src="item.user.avatarUrl" alt="用户头像" />
                            <div class="text">
                                <p class="nick-name">{{ item.user.nickname }}</p>
                                <p class="str">{{ item.content }}</p>
                            </div>                         
                        </li>
                    </ul>
                </li>
            </ul>
            <div class="mv" v-bind:class="{show: mv}">
                <video v-bind:src="mvUrl" controls></video>
            </div>
        </div>

        <div id="footer">
            <audio v-bind:src="musicUrl" @play="isPlay" @pause="isPause" autoplay controls volume loop></audio>
        </div>
    
    </div>

    <!-- javascript -->
    <script src="./lib/jquery-3.4.1.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./vue.js"></script>

</body>
</html>