@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574150238867'); /* IE9 */
  src: url('iconfont.eot?t=1574150238867#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKAAAsAAAAABkwAAAIzAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApYbwE2AiQDCAsGAAQgBYRtBy0bkgUR1Ys1si8KbMc1fGnsyO5tl6Tmi46pY1LOQfA8rmXvJ5ltmikgKZBAoBBVhUK0rYIjecIU/aFkCST0ps1c/eKcB1ejItRI3qJHX0gBtyynAMiD0Xyf53J8CyiQ+b3huBftRWtTF1AvDijQPbBNVkIZN4xd8ALPQwBHBmVI06VrCIvBniaArIaFKWwhiMGwjEUINKw1yDkeVh2oN3AWfV/+losFhaexi/rmm2ep+8ER1evB9VG9TggEuNkDNFAGGJChxmQPGmEcjUsacuBY+QI/BIOBAzmqFWF/nZ0bBkAalD2T3FM8akYBPJZsCDtj0uNA0hJyeX94m4R7frt+l+9zcXf0kCr+q4eN+4eH9XVXocKFxBX7quCiDvtnGrWOAAIfK/g9EVm19Q0An34aj7RmmBvsvlwC/0Q+sMMYStuujCZv7FWknavO4YAg9sbwfaop/gaygiV+gjuE9AwaSx5hmDJ4+FQigKUWjlJaN/vEsoZGTChQwg6AEMVrKCJ4gCaKt4RhvsEjgf8IECUajhGJ3dOnQKggjoSS0YD6Q9CtWtfJIs6/oXtnSXllxH0hrSECYzeUM1esSEssWD9uYrZgqRW4gMsw5wYztYiaO888H/reNr2p061sBEdCyWhA/SHoVm3Qn0Xl8zd07yypo60u/UJaw/AwdsMA4qqrg9oe5Zr14yZmC5ZagQsYhTk3mJtHRdTc+Qnx+dA73exQXbe9ofzdAcBhm5U4ZZr9lDGbDQAAAA==') format('woff2'),
  url('iconfont.woff?t=1574150238867') format('woff'),
  url('iconfont.ttf?t=1574150238867') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574150238867#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e607";
}

