@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574232951507'); /* IE9 */
  src: url('iconfont.eot?t=1574232951507#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALIAAsAAAAAB0QAAAJ8AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqCUIJEATYCJAMICwYABCAFhG0HLhtoBhHVi3Oyr7BxDaghzVjFYroxwL/bMiCOZRYHuDY4gQIAAAAA4uH/1/63z8yd9+83TarRohgqSURCUi+RRIiEAqt7xUNGJ7f24J5pEFmkJ8rLLLPdX8HeOBhg5CNOq8xKJAlLNFgvXN3VC4DFOUeqNyZCjeTsyaMfpOVBmqNxPzhc2hoYyDygQFKce+ACiQMKdA+MIiv+BcD/mE5YXKUuk2XeJ9Cg36xYzzsPooQvC8QVO38SM35J0lNZqFXsTRGvUcnFk/ABXgWfjz8pSKEq8Yq95zbOqB8mMqJcRzwEAgQ8XKHELBJxsDK+G4ROKTXE3TDrKg1+mLtnFGv954kaXtwEeoF/TgJHeKp/WYCEjNvgca8guY1/HVVFw9Oexp2xa3zW0izqi21DtI/yaxolhQX/f8gn1+QYSLfDLh1I5PpW7yLpZTKBnPpKtZKmTe9EpVGVRuBnOcAF3dtNJsu8JgeW8WCKcvF//I0356dbc5LAp58K+DQn+awdwdvPSgaeyBSBoUhVcpgu3Ea+q5YGDfjP3R2+91V336o15IxAh0KdPihlo8iEnYVKozmoyZagwYwthxt1ugUi1WPaAwahzTsotHgPpTYfkQn7DSo9/kFNW0RocDjizEbjAZnYE/aMEwxfMOMyS2liEZZeUD19T2lRQH0gRROCpqzzqTPOSGNsiC/VMkuQtAQ4scfQ+wVWWiyOXGrmtasqWfWiclxCIuwJe8YJhi+YcZmlN55F4f0XVE/fU0NPg/WBFM300JQ1AXmWz6Sea3kmvlTLLEHSEuDErOhFfIG1epbFkUvdI7p2FfaTVHk5vzI83QmSROCaLERtnhRXTOQkAQ==') format('woff2'),
  url('iconfont.woff?t=1574232951507') format('woff'),
  url('iconfont.ttf?t=1574232951507') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574232951507#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-list:before {
  content: "\e769";
}

