@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1574404371099'); /* IE9 */
  src: url('iconfont.eot?t=1574404371099#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAALkAAsAAAAABqwAAAKVAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAqBOIE7ATYCJAMICwYABCAFhG0HLxvgBcgOJU4AAwUYAABABND+oJ/dt0e6CYyAE+x8F+EIRX4uzpkdyF24CDWSV4QKWA3SjvMBaX2f53J6E+hAWh8op71prMlHvQDjrQHtjVGUaAll3DB2wQu8T0BeFdUXuvc832AksZcFhJnTpAWjQliSWC63IGfD3iRsk0PuuD4+AbZG3w9fmSE3UY6M3dB38saF+YdmTkG27P9lRgaECAE6nAMZ6iMRBjame+sKjMvkTfdU5Vi1gQ/N/v8/cAlHtQvsr7Or84PyUPFMSk/1qNURJDjcAT0nvYuUp1yJ3pgNu5bt3rh3+Z45e4oPVPbfb5n/6t3ycd+9fAU2PqgUBu0+EbLlY5fBspN58284ndedaZ58yrDBypArBXOfLnK6MJ70u/Wu3e93JP4+gjGrw50qH6vcCaPeN2xqm+9xvmrnY5yblhQZNP0ITaujOf+se7bt+2wzdGb/LHsY51EQOPaw1a0xhdr/yJ0vgVf/Hi4GbckwL8h9Rk/gzykHNiVDbZvjIyiQJ+qQC4pAGff5n+0v6v1US4nbzAe5lbhZby4VMmRyq04mtj5yyKc5csqtE/Kqp9fhfIqZryukPKhrNUBQ2AVEBT1AprCnZGLfIYeSviOnwiFDXoNDsTPzqRmm5e02n6yCXBzf4jSHE+G6i0lceyFZRlaWV0eCB2W5H8Mmql7O7SihbIkNCyppLiwETs44xp7gMYoixrkZB+QU6tSi+M0aaaLpReoEjmGimwyxFIgLjddC0zhYQgTtC5PK5y+IVIpYsg5eXfqBZHL+6KiJhhoPIHeGZBDvUZ5ZoCKZFioIaLIMi6GeYBaJRBia2zwrQBwF1dQJyZ+ZRk6ryUMN6vam+O92QF62NQZnSibH4mkuMQAAAAA=') format('woff2'),
  url('iconfont.woff?t=1574404371099') format('woff'),
  url('iconfont.ttf?t=1574404371099') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1574404371099#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video:before {
  content: "\e633";
}

